<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td><a routerLink="/user/{{user.id}}">
          <button class="btn btn-primary" ng-click="edit=ture">Edit</button>
        </a></td>
        <td><a routerLink="/delete/user/{{user.id}}">
          <button (click)="deleteUser(user)" class="btn btn-primary" ng-click="delete=ture">Delete</button>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
