<div class="card my-5">
  <div *ngIf="user" class="card-body">
    <h2>User Details:</h2>
    <form #userForm="ngForm" (ngSave)="onSave()">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="user.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name"
               required type="text">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input #age="ngModel" [(ngModel)]="user.age"
               class="form-control"
               id="age"
               name="age"
               placeholder="Enter your age"
               required type="text">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input #email="ngModel" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required type="text">
      </div>
      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <button (click)="onSave()" [disabled]="!userForm.form.valid"
                  class="btn btn-info" type="save">Save
          </button>
        </li>
        <li class="list-inline-item">
          <button (click)="goBack()" class="btn btn-info" type="goBack">Go back</button>
        </li>
      </ul>
    </form>
  </div>
</div>
